@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
  
  body {
    @apply bg-polvere text-bamba tracking-normal font-helvetica
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold 
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-5xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: all 400ms ease-in-out;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

